<header class="masthead" role="banner">
  <div class="container">
    <a class="masthead__title" href="{{ site.url }}/">{{ site.title }}</a>
    <nav class="masthead__menu-wrapper" role="navigation">
      <ul class="masthead__menu">
        {% assign counter=0 %}
        {% for link in site.data.navigation-menu %}
          {% assign counter=counter | plus:1 %}
          <li><a href="{{ site.url }}{{ link.url }}" class="masthead__menu-item {% if counter > 3 %}is--hidden{% endif %}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>