{% if page.author1 %}
  {% assign author1 = site.data.authors[page.author1] %}{% else %}{% assign author1 = site.owner %}
{% endif %}

<div class="author-image">
	<img src="{{ site.url }}/images/{{ author1.avatar }}" alt="{{ author1.name }}">
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" >Written by {% if author1.web %}<a href="{{ author.web }}" itemprop="author">{{ author1.name }}</a>{% else %}<span itemprop="author">{{ author1.name }}</span>{% endif %}</h3>
	<p class="author-bio">{{ author1.bio }}</p>
</div><!-- ./author-content -->